<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="selectBank" class="col-md-2 control-label account-top">Bank</label>

      <div class="col-md-10">
        <select id="selectBank" class="form-control">
                      <option value="HNB">HNB</option>
                      <option value="BOC">BOC</option>
                    </select>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="select111" class="col-md-2 control-label account-top">Account</label>

      <div class="col-md-10">
        <select id="select111" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="select111" class="col-md-2 control-label account-top">Account Holder</label>

      <div class="col-md-10">
        <select id="select111" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
      </div>
    </div>
  </div>
  <div class="col-md-1 btn-group-sm">
    <a class="btn btn-primary btn-fab"><i class="material-icons">add</i></a>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="well bs-component">
      <table st-table="accountCollection" class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>account no</th>
            <th>holder name</th>
            <th>starts</th>
            <th>ends</th>
            <th>bank</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="row in accountCollection">
            <td>{{row.first}}</td>
            <td>10001</td>
            <td>{{row.last}}</td>
            <td>100</td>
            <td>150</td>
            <td>HNB</td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-10">
          <a ng-click="print()" class="btn btn-primary btn-fab"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well bs-component">
      <table st-table="chequeCollection" class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Checkout Date</th>
            <th>Cheque no</th>
            <th>Payee</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="row in chequeCollection">
            <td>{{row.first}}</td>
            <td>27/01/2017</td>
            <td>{{row.last}}</td>
            <td>Sarasa</td>
            <td>Rs.1000</td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-10">
          <a ng-click="print()" class="btn btn-primary btn-fab"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
