<div class="page-header" id="banner">
  <div class="row">
    <div class="col-sm-6">
      <h1>Material Design</h1>

      <p class="lead">Based on Google Material design</p>
    </div>
    <div class="col-sm-6">
      <div class="well infobox">
        <p><em>Material Design for Bootstrap</em> is a theme for Bootstrap 3 which lets you use the new
          <a href="http://www.google.com/design/spec/material-design/">Google Material Design</a> in your favorite front-end framework.
        </p>

        <p>If you like this project you can support me by donating something on Gittip, starring this repository, or
          <a href="https://github.com/FezVrasta/bootstrap-material-design/issues">reporting bugs and ideas</a>.</p>

        <p>Read more about <em>Material Design for Bootstrap</em>
          <a href="https://github.com/FezVrasta/bootstrap-material-design">at the Github page</a>.</p>

        <a href="https://github.com/FezVrasta/bootstrap-material-design/archive/master.zip" class="btn btn-sup btn-material-pink btn-raised">
          <i class="material-icons">file_download</i>
          <span>DOWNLOAD</span>
        </a>
        <a href="https://www.gittip.com/FezVrasta/" class="btn btn-sup btn-material-brown">
          <i class="material-icons">favorite_border</i>
          <span>GITTIP</span>
        </a>
        <a href="https://github.com/FezVrasta/bootstrap-material-design/issues" class="btn btn-sup btn-material-deeppurple">
          <i class="material-icons">info_outline</i>
          <span>ISSUES</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Navbar
================================================== -->
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="navbar">Navbar</h1>
      </div>

      <div class="bs-component">
        <div class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)">Brand</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Active</a></li>
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                    <li><a href="javascript:void(0)">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                  <input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bs-component">
        <div class="navbar navbar-warning">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)">Brand</a>
            </div>
            <div class="navbar-collapse collapse navbar-warning-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Active</a></li>
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                    <li><a href="javascript:void(0)">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                  <input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- /example -->

      <div class="bs-component">
        <div class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)">Brand</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Active</a></li>
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                    <li><a href="javascript:void(0)">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                  <input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- /example -->

    </div>
  </div>
</div>


<!-- Buttons
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <h1 id="buttons">Buttons</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <h3>Flat buttons <small>default - no class needed</small></h3>
      <p class="bs-component">
        <a href="javascript:void(0)" class="btn"><code>btn</code> only</a>
        <a href="javascript:void(0)" class="btn active"><code>.active</code></a>
        <a href="javascript:void(0)" class="btn btn-default">Default</a>
        <a href="javascript:void(0)" class="btn btn-primary">Primary</a>
        <a href="javascript:void(0)" class="btn btn-success">Success</a>
        <a href="javascript:void(0)" class="btn btn-info">Info</a>
        <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
        <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
        <a href="javascript:void(0)" class="btn btn-link">Link</a>
      </p>


      <h3>Raised buttons <small><code>.btn-raised</code></small></h3>
      <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-raised active"><code>.active</code></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-default">Default</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-danger">Danger</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-link">Link</a>
      </p>


      <h3>Disabled buttons</h3>

      <fieldset disabled="">

        <h3><small>flat - default - no class needed</small></h3>
        <p class="bs-component">
          <a href="javascript:void(0)" class="btn"><code>btn</code> only</a>
          <a href="javascript:void(0)" class="btn btn-default">Default</a>
          <a href="javascript:void(0)" class="btn btn-primary">Primary</a>
          <a href="javascript:void(0)" class="btn btn-success">Success</a>
          <a href="javascript:void(0)" class="btn btn-info">Info</a>
          <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
          <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
          <a href="javascript:void(0)" class="btn btn-link">Link</a>
        </p>


        <h3><small><code>.btn-raised</code></small></h3>
        <p class="bs-component">
          <a href="javascript:void(0)" class="btn btn-raised btn-default">Default</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-danger">Danger</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-link">Link</a>
        </p>
      </fieldset>

      <h3>Button sizes</h3>

      <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-raised btn-lg">Large button</a>
        <a href="javascript:void(0)" class="btn btn-raised">Default button</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-sm">Small button</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-xs">xs button</a>
      </p>

      <h3>Floating action buttons <small>a.k.a fab</small></h3>
      <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-danger btn-fab"><i class="material-icons">grade</i></a>
      </p>
      <h4><small><code>.btn-group-sm .btn-fab</code> or <code>.btn-fab-mini</code></small></h4>
      <p class="bs-component btn-group-sm">
        <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-danger btn-fab"><i class="material-icons">grade</i></a>
      </p>

    </div>
    <div class="col-md-6">
      <h2>Group variations with <small><code>.btn-raised</code></small></h2>

      <h3>Button groups</h3>
      <div style="margin-bottom: 15px;">
        <div class="btn-toolbar bs-component" style="margin: 0;">

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn">btn only</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>



          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-default btn-raised">Default raised</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-primary btn-raised">Primary raised</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-success">Success</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-info">Info</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>



      <h3><small><code>btn-lg.btn-block.btn-raised</code></small></h3>
      <div class="bs-component">
        <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">Block level button</a>
        <fieldset disabled="">
          <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">Block level button disabled</a>
        </fieldset>
      </div>


      <div class="bs-component" style="margin-bottom: 15px;">
        <h3><small><code>btn-group.btn-group-justified.btn-group-raised</code></small></h3>
        <div class="btn-group btn-group-justified btn-group-raised">
          <a href="javascript:void(0)" class="btn ">Left</a>
          <a href="javascript:void(0)" class="btn ">Middle</a>
          <a href="javascript:void(0)" class="btn ">Right</a>
        </div>

        <h3><small>disabled <code>btn-group.btn-group-justified.btn-group-raised</code></small></h3>
        <fieldset disabled="">
          <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn ">Left</a>
            <a href="javascript:void(0)" class="btn ">Middle</a>
            <a href="javascript:void(0)" class="btn ">Right</a>
          </div>
        </fieldset>
      </div>

      <div class="bs-component" style="margin-bottom: 15px;">
        <h3><small><code>btn-toolbar</code></small></h3>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="javascript:void(0)" class="btn">1</a>
            <a href="javascript:void(0)" class="btn">2</a>
            <a href="javascript:void(0)" class="btn">3</a>
            <a href="javascript:void(0)" class="btn">4</a>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-raised">5</a>
            <a href="javascript:void(0)" class="btn btn-raised">6</a>
            <a href="javascript:void(0)" class="btn btn-raised">7</a>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-raised">8</a>

            <div class="btn-group">
              <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Dropdown link</a></li>
                <li><a href="javascript:void(0)">Dropdown link</a></li>
                <li><a href="javascript:void(0)">Dropdown link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bs-component">
        <h3><small><code>.btn-group-vertical</code></small></h3>
        <div class="btn-group-vertical">
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- Typography
================================================== -->
<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="type">Typography</h1>
      </div>
    </div>
  </div>

  <!-- Headings -->

  <div class="row">
    <div class="col-md-4">
      <div class="bs-component">
        <h1>Heading 1</h1>

        <h2>Heading 2</h2>

        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>

        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <h2>Example body text</h2>

        <p>Nullam quis risus eget
          <a href="javascript:void(0)">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
        </p>

        <p>
          <small>This line of text is meant to be treated as fine print.</small>
        </p>
        <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>

        <p>The following snippet of text is <em>rendered as italicized text</em>.</p>

        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <h2>Emphasis classes</h2>

        <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>

        <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

        <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>

        <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

        <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

        <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

    </div>
  </div>

  <!-- Blockquotes -->

  <div class="row">
    <div class="col-md-12">
      <h2 id="type-blockquotes">Blockquotes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="bs-component">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bs-component">
        <blockquote class="pull-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<!-- Icons
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="icon">Icons</h1>

        <p>Bootstrap Material Design supports the full range of original Material Design icons!<br>
          <a href="https://www.google.com/design/icons/">See the full set of material design icons at the material icons library.</a>
        </p>
        <p>
          It’s easy to incorporate icons into your web page. Here’s a small example:
          <br>
          <code>&lt;i class="material-icons"&gt;face&lt;/i&gt;</code>
          <i class="material-icons">face</i>
        </p>
        <p>Please be sure that the fonts are properly setup, see <a href="https://github.com/FezVrasta/bootstrap-material-design#getting-started">Getting Started</a>.</p>
      </div>
    </div>
  </div>
</div>


<!-- Tables
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="tables">Tables</h1>
      </div>

      <div class="bs-component">
        <table class="table table-striped table-hover ">
          <thead>
          <tr>
            <th>#</th>
            <th>Column heading</th>
            <th>Column heading</th>
            <th>Column heading</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="info">
            <td>3</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="success">
            <td>4</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="danger">
            <td>5</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="warning">
            <td>6</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="active">
            <td>7</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          </tbody>
        </table>
      </div><!-- /example -->
    </div>
  </div>
</div>

<!-- Forms
================================================== -->
<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="forms">Forms</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="well bs-component">
        <form class="form-horizontal">
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group is-empty">
              <label for="inputEmail" class="col-md-2 control-label">Email</label>

              <div class="col-md-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group is-empty">
              <label for="inputPassword" class="col-md-2 control-label">Password</label>

              <div class="col-md-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                <!--
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Checkbox
                  </label>
                  <label>
                    <input type="checkbox" disabled> Disabled Checkbox
                  </label>
                </div>
                <br>

                <div class="togglebutton">
                  <label>
                    <input type="checkbox" checked> Toggle button
                  </label>
                </div>
                -->
              </div>
            </div>
            <div class="form-group" style="margin-top: 0;"> <!-- inline style is just to demo custom css to put checkbox below input above -->
              <div class="col-md-offset-2 col-md-10">
                <div class="checkbox disabled">
                  <label>
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Checkbox
                  </label>
                  <label>
                    <input type="checkbox" disabled=""><span class="checkbox-material"><span class="check"></span></span> Disabled Checkbox
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" checked=""><span class="toggle"></span> Toggle button
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group is-empty is-fileinput">
              <label for="inputFile" class="col-md-2 control-label">File</label>

              <div class="col-md-10">
                <input type="text" readonly="" class="form-control" placeholder="Browse...">
                <input type="file" id="inputFile" multiple="">
              </div>
            </div>
            <div class="form-group is-empty">
              <label for="textArea" class="col-md-2 control-label">Textarea</label>

              <div class="col-md-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Radios</label>

              <div class="col-md-10">
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
                    Option one is this
                  </label>
                </div>
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span class="circle"></span><span class="check"></span>
                    Option two can be something else
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="select111" class="col-md-2 control-label">Select</label>

              <div class="col-md-10">
                <select id="select111" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="select222" class="col-md-2 control-label">Select Multiple</label>

              <div class="col-md-10">
                <select id="select222" multiple="" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-2">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </div>
    <div class="col-md-4 col-md-offset-1">

      <form class="bs-component">
        <div class="form-group label-floating is-empty">
          <label class="control-label" for="focusedInput1">Write something to make the label float</label>
          <input class="form-control" id="focusedInput1" type="text">
        </div>

        <div class="form-group label-floating is-empty">
          <label class="control-label" for="focusedInput2">Focus to show the help-block</label>
          <input class="form-control" id="focusedInput2" type="text">
          <p class="help-block">You should really write something here</p>
        </div>

        <div class="form-group is-empty">
          <label class="control-label" for="disabledInput">Disabled input</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
        </div>

        <div class="form-group has-warning is-empty">
          <label class="control-label" for="inputWarning">Input warning</label>
          <input type="text" class="form-control" id="inputWarning">
        </div>

        <div class="form-group has-error is-empty">
          <label class="control-label" for="inputError">Input error</label>
          <input type="text" class="form-control" id="inputError">
        </div>

        <div class="form-group has-success is-empty">
          <label class="control-label" for="inputSuccess">Input success</label>
          <input type="text" class="form-control" id="inputSuccess">
        </div>

        <div class="form-group form-group-lg is-empty">
          <label class="control-label" for="inputLarge">Large input</label>
          <input class="form-control" type="text" id="inputLarge">
        </div>

        <div class="form-group is-empty">
          <label class="control-label" for="inputDefault">Default input</label>
          <input type="text" class="form-control" id="inputDefault">
        </div>

        <div class="form-group form-group-sm is-empty">
          <label class="control-label" for="inputSmall">Small input</label>
          <input class="form-control" type="text" id="inputSmall">
        </div>

        <div class="form-group is-empty">
          <label class="control-label" for="addon1">Default label w/input addons</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" id="addon1" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Button</button>
            </span>
          </div>
        </div>

        <div class="form-group label-floating is-empty">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <label class="control-label" for="addon3a">Floating label w/2 addons</label>
            <input type="text" id="addon3a" class="form-control">
            <p class="help-block">The label is inside the <code>input-group</code> so that it is positioned properly as a placeholder.</p>
            <span class="input-group-btn">
              <button type="button" class="btn btn-fab btn-fab-mini">
                <i class="material-icons">send</i>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group label-floating is-empty">

          <label class="control-label" for="addon2">Floating label w/right addon</label>
          <div class="input-group">
            <input type="text" id="addon2" class="form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn-fab btn-fab-mini">
                <i class="material-icons">functions</i>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group is-empty is-fileinput">
          <input type="file" id="inputFile4" multiple="">
          <div class="input-group">
            <input type="text" readonly="" class="form-control" placeholder="Placeholder w/file chooser...">
              <span class="input-group-btn input-group-sm">
                <button type="button" class="btn btn-fab btn-fab-mini">
                  <i class="material-icons">attach_file</i>
                </button>
              </span>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>

<!-- Navs
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="nav">Navs</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2 id="nav-tabs">Tabs</h2>

      <div class="bs-component">
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#profile" data-toggle="tab">Profile</a></li>
          <li class="disabled"><a>Disabled</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
              <li class="divider"></li>
              <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
            </ul>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="home">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </div>
          <div class="tab-pane fade" id="profile">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
          </div>
          <div class="tab-pane fade" id="dropdown1">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
          </div>
          <div class="tab-pane fade" id="dropdown2">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2 id="nav-pills">Pills</h2>

      <div class="bs-component">
        <ul class="nav nav-pills">
          <li class="active"><a href="javascript:void(0)">Home</a></li>
          <li><a href="javascript:void(0)">Profile</a></li>
          <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <br>

      <div class="bs-component">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li class="active"><a href="javascript:void(0)">Home</a></li>
          <li><a href="javascript:void(0)">Profile</a></li>
          <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <h2 id="nav-breadcrumbs">Breadcrumbs</h2>

      <div class="bs-component">
        <ul class="breadcrumb">
          <li class="active">Home</li>
        </ul>

        <ul class="breadcrumb">
          <li><a href="javascript:void(0)">Home</a></li>
          <li class="active">Library</li>
        </ul>

        <ul class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="javascript:void(0)">Home</a></li>
          <li><a href="javascript:void(0)">Library</a></li>
          <li class="active">Data</li>
        </ul>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      <h2 id="pagination">Pagination</h2>

      <div class="bs-component">
        <ul class="pagination">
          <li class="disabled"><a href="javascript:void(0)">«</a></li>
          <li class="active"><a href="javascript:void(0)">1</a></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li><a href="javascript:void(0)">4</a></li>
          <li><a href="javascript:void(0)">5</a></li>
          <li><a href="javascript:void(0)">»</a></li>
        </ul>

        <ul class="pagination pagination-lg">
          <li class="disabled"><a href="javascript:void(0)">«</a></li>
          <li class="active"><a href="javascript:void(0)">1</a></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li><a href="javascript:void(0)">»</a></li>
        </ul>

        <ul class="pagination pagination-sm">
          <li class="disabled"><a href="javascript:void(0)">«</a></li>
          <li class="active"><a href="javascript:void(0)">1</a></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li><a href="javascript:void(0)">4</a></li>
          <li><a href="javascript:void(0)">5</a></li>
          <li><a href="javascript:void(0)">»</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <h2 id="pager">Pager</h2>

      <div class="bs-component">
        <ul class="pager">
          <li><a class="withripple" href="javascript:void(0)">Previous</a></li>
          <li><a class="withripple" href="javascript:void(0)">Next</a></li>
        </ul>

        <ul class="pager">
          <li class="previous disabled"><a href="javascript:void(0)">← Older</a></li>
          <li class="next"><a class="withripple" href="javascript:void(0)">Newer →</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>

<!-- Indicators
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="indicators">Indicators</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Alerts</h2>

      <div class="bs-component">
        <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Warning!</h4>

          <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna,
            <a href="javascript:void(0)" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oh snap!</strong>
          <a href="javascript:void(0)" class="alert-link">Change a few things up</a> and try submitting again.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Well done!</strong> You successfully read
          <a href="javascript:void(0)" class="alert-link">this important alert message</a>.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Heads up!</strong> This
          <a href="javascript:void(0)" class="alert-link">alert needs your attention</a>, but it's not super important.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Labels</h2>

      <div class="bs-component" style="margin-bottom: 40px;">
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
        <span class="label label-info">Info</span>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Badges</h2>

      <div class="bs-component">
        <ul class="nav nav-pills">
          <li class="active"><a href="javascript:void(0)">Home <span class="badge">42</span></a></li>
          <li><a href="javascript:void(0)">Profile <span class="badge"></span></a></li>
          <li><a href="javascript:void(0)">Messages <span class="badge">3</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Progress bars
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="progress">Progress bars</h1>
      </div>

      <h3 id="progress-basic">Basic</h3>

      <div class="bs-component">
        <div class="progress">
          <div class="progress-bar" style="width: 60%;"></div>
        </div>
      </div>

      <h3 id="progress-alternatives">Contextual alternatives</h3>

      <div class="bs-component">
        <div class="progress">
          <div class="progress-bar progress-bar-info" style="width: 20%"></div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 40%"></div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
        </div>
      </div>

      <h3 id="progress-striped">Striped</h3>

      <div class="bs-component">
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-info" style="width: 20%"></div>
        </div>

        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" style="width: 40%"></div>
        </div>

        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
        </div>

        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
        </div>
      </div>

      <h3 id="progress-animated">Animated</h3>

      <div class="bs-component">
        <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 45%"></div>
        </div>
      </div>

      <h3 id="progress-stacked">Stacked</h3>

      <div class="bs-component">
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 35%"></div>
          <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
          <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sliders (noUiSlider)
================================================== -->

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="slider">Sliders <span style="font-size: 50%">(with noUiSlider)</span></h1>
      </div>
      <div class="bs-component">
        <div class="row">
          <div class="col-sm-6">
            <div class="slider shor noUi-target noUi-ltr noUi-horizontal noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="left: 40%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
            <div class="slider shor slider-success noUi-target noUi-ltr noUi-horizontal noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="left: 40%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
            <div class="slider shor slider-material-pink noUi-target noUi-ltr noUi-horizontal noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="left: 40%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
          </div>
          <div class="col-sm-6" style="height: 150px">
            <div class="slider svert noUi-target noUi-ltr noUi-vertical noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="top: 40%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
            <div class="slider svert slider-success noUi-target noUi-ltr noUi-vertical noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="top: 40%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
            <div class="slider svert slider-material-pink noUi-target noUi-ltr noUi-vertical noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background" style="top: 40%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
          </div>
        </div>
      </div>
      <p>Read more about <a href="http://refreshless.com/nouislider/">noUiSlider here</a>.</p>
    </div>
  </div>
</div>

<!-- Containers
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="container">Containers</h1>
      </div>
      <div class="bs-component">
        <div class="jumbotron">
          <h1>Jumbotron</h1>

          <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>List groups</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bs-component">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">folder</i>
            </div>
            <div class="row-content">
              <div class="least-content">15m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>

              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">folder</i>
            </div>
            <div class="row-content">
              <div class="least-content">10m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>

              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">folder</i>
            </div>
            <div class="row-content">
              <div class="least-content">8m</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>

              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">folder</i>
            </div>
            <div class="row-content">
              <div class="action-secondary"><i class="material-icons">info</i></div>
              <h4 class="list-group-item-heading">Tile with an icon</h4>

              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">folder</i>
            </div>
            <div class="row-content">
              <div class="action-secondary"><i class="material-icons">info</i></div>
              <h4 class="list-group-item-heading">Tile with an icon</h4>

              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons">folder</i>
            </div>
            <div class="row-content">
              <div class="action-secondary"><i class="material-icons">info</i></div>
              <h4 class="list-group-item-heading">Tile with an icon</h4>

              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-picture">
              <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading">Tile with avatar</h4>

              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-picture">
              <img class="circle" src="http://lorempixel.com/56/56/people/6" alt="icon">
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading">Tile with another avatar</h4>

              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary checkbox">
              <label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span></label>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading">Tile with a checkbox in it</h4>

              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>Panels</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Panel heading</div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            Panel content
          </div>
          <div class="panel-footer">Panel footer</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel primary</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Panel success</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Panel warning</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Panel danger</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Panel info</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Wells</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bs-component">
        <div class="well">
          Look, I'm in a well!
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="well well-sm">
          Look, I'm in a small well!
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="well well-lg">
          Look, I'm in a large well!
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialogs
================================================== -->
<div class="bs-docs-section">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 id="dialogs">Dialogs</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Modals</h2>

      <div class="bs-component">
        <div class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Popovers</h2>

      <div class="bs-component">
        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Left</button>

        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Top</button>

        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                                                                                                                                                          sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Bottom
        </button>

        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Right</button>
      </div>
      <h2>Tooltips</h2>

      <div class="bs-component">
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Left</button>

        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">Top</button>

        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">Bottom</button>

        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Right</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Snackbars and toasts <span style="font-size: 50%">(with SnackbarJS)</span></h2>

      <p>SnackbarJS is the ad-hoc developed plugin to create snackbars and toasts, read more about it on the
        <a href="http://fezvrasta.github.io/snackbarjs/">official page</a> of the project.</p>

      <div class="bs-component">
        <button type="button" class="btn btn-default" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Show snackbar</button>

        <button type="button" class="btn btn-default" data-style="toast" data-content="This is a toast! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Show toast</button>
      </div>
    </div>
  </div>
</div>

<div id="source-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Source Code</h4>
      </div>
      <div class="modal-body">
        <pre></pre>
      </div>
    </div>
  </div>
</div>
