<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-client_id" content="927623668324-egnnt4a8kr697kq8u142m5obhfrqu9kb.apps.googleusercontent.com">

  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" />

  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js" charset="utf-8"></script>
  <script src="lib/angular-aria/angular-aria.min.js" charset="utf-8"></script>
  <script src="lib/angular-messages/angular-messages.min.js" charset="utf-8"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>

  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

  <script src="lib/angular-material/angular-material.min.js" charset="utf-8"></script>

  <script src="js/app.js"></script>
  <script src="js/signIn_ctrl.js" charset="utf-8"></script>
  <!--base href="/"-->

</head>

<body ng-app="mainApp" ng-controller="mainContr">
  <!-- Navigation Bar ============================== -->
  <md-content ng-hide="hideToolBar">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <i class="material-icons">
            menu
          </i>
        </md-button>

        <h2 flex md-truncate>Tool Bar</h2>

        <md-button class="md-icon-button" aria-label="Favorite">
          <i class="material-icons">
            favorite
          </i>
        </md-button>

        <md-button class="md-icon-button" aria-label="More">
          <i class="material-icons">
            more_vert
          </i>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>

  <!-- Side Navigation ============================== -->
  <section ng-hide="hideSideNav" layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <br>
        <div layout="row" layout-align="center center">
          <div layout="column" layout-align="start center">
            <img ng-src="{{profile.pic}}" class="avatar"></img>
          </div>
          <div layout="column" class="profile-data">
            <div layout="row" class="font-name">
              {{profile.name}}
            </div>
            <div layout="row" class="font-email">
              {{profile.email}}
            </div>
          </div>
        </div>
        <br>
      </md-toolbar>

      <md-content layout-margin>
        <md-list-item class="secondary-button-padding" ng-click="goTo('hello')">
          Home
        </md-list-item>
        <md-list-item class="secondary-button-padding" ng-click="goTo('about')">
          About
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="secondary-button-padding" ng-click="signOut()">
          Sign Out
        </md-list-item>
      </md-content>

    </md-sidenav>
  </section>

<div layout ="column" flex>

      <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
      <div ui-view flex="auto"></div>
    </div>



</body>

</html>
